[submodule "2022/Q2/artifacts/spec"]
	path = 2022/Q2/artifacts/spec
	url = https://github.com/anoma/spec
[submodule "2022/Q2/artifacts/anoma"]
	path = 2022/Q2/artifacts/anoma
	url = https://github.com/anoma/anoma
[submodule "2023/Q1/artifacts/PoS-mbt/namada"]
	path = 2023/Q1/artifacts/PoS-mbt/namada
	url = https://github.com/informalsystems/namada
	branch = rano/mbt/cubic-slashing
